<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/bootstrap/css/theme/default/bootstrap.css">
    <title>HDMT Tool</title>
  </head>

  <body style="background-color: lightsteelblue;">
    <div class="container">
      <div class="header" align="center">
        <h3 class="text-muted" style="color: black; padding-bottom: 10px;">Login</h3>
      </div>
      <div class="container col-md-4" display="block" style="left: 34%; background-color: white;">
          <form id="loginInfo" role="form">
    	      <div class="container" style="padding-left: 0px;">
                    <div class="container" style="padding-left: 0px;">
            	        <h4>Email:</h4>
            	        <input type="text" class="form-control" id="username" name="username" placeholder="username" width="50px">
                    </div>
                    <div class="container" style="padding-left: 0px;">
                        <h4>Password:</h4>
                        <input type="text" class="form-control" id="password" name="password" placeholder="password" width="50px">
                    </div>
                    <br>
                    <div class="container" style="padding-left: 0px; margin-bottom: 10px;">
        	            <button id="loginBtn" type="button" class="btn btn-primary">Login</button>
                    </div>
    	      </div>
    	  </form>
      </div>
    </div>

    <script src="/jquery/jquery-1.11.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/index.js"></script>

  </body>
</html>
