<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/bootstrap/css/theme/default/bootstrap.css">
    <title>HDMT</title>
  </head>

  <body>
	<div class="jumbotron jumbotron-fluid" style="margin-bottom: -4%;">
	  <div class="container text-center">
	    <h1 class="display-4" style="font-size: 45px;">HDMT</h1>
	    <p class="lead" style="color: #fcfcfc !important">Hedging Decision Management Tool</p>
	  </div>
	</div>

	  <div class="row">
		  <p id="black">Generally, hedge strategiess can be driven by any of four tactical components:</p>
		  <ul class="list-unstyled">
			  <li>Programmatic
			  	<ul>
					<li>
						<p id="black">Hedges accumulated in accordance with a calendar schedule</p>
					</li>
				</ul>
			  </li>
			  <li>Defensive
				  <ul>
					  <li>
						  <p id="black">Hedges accumulated in response to evolving risk metrics</p>
					  </li>
				  </ul>
			  </li>
			  <li>Discretionary
				  <ul>
					  <li>
						  <p id="black">Hedges accumulated in accordance with a market view as to what constitutes an attractive opportunity</p>
					  </li>
				  </ul>
			  </li>
		  	  <li>Contingent
				  <ul>
					  <li>
						  <p id="black">Hedges accumulated or shed in response to a concern over potential hedge losses</p>
					  </li>
				  </ul>
			  </li>
		  </ul>
	  </div>

	  <div class="row" style="background-color: white;">
		  <p id="black">
			  This Hedge Strategy Simulation Tool will test any postulated strategy for ecomomic effectiveness based on how it would have performed, given actual NYMEX futures prices (hedge opportunities) and natural gas settlement prices since the early 2000's.
			  <br><br>
			  The simplest strategy is a purely Programmatic accumulaion; it will be simulated as a benchmark for comparison with more comprehensive approaches. When looking at results, this methodology will be refered to as a <strong>Targeted-Volume</strong> method.
		  </p id="black">

		  <p id="black"><strong>Comprehensive Strategies</strong> may incorporate any combination of the four tactical elements above.</p>

	      <p id="black">Any strategy dominated by Defensive and or Contingent tactics will be refered to as a <strong>Risk-Responsive</strong> strategy.</p>

		  <p id="black">Any strategy dominated by Discretionary tactics is an <strong>Opportunistic</strong> strategy, and will not be treated here.</p>

		  <p id="black">The simulation of <strong>risk-responsive hedges</strong> will be performed using "Value at Risk" metrics, or "VaR".</p>
	  </div>

        <form id="simForm" class="form-horizontal" role="form">
          <!-- first table -->
          <div class="row">
	          <h5>First provide the monthly volume profile for your natural gas protfolio in MMBtu below<h5>
			  <br>
			  <div class="container col-sm-3">
				  <table class="table">
					  <tr>
						  <td scope="row" class="col-sm-4">Jan</td>
						  <td>
                              <div class="container">
                                  <input type="number" class="form-control" name="january">
                              </div>
                          </td>
					  </tr>
					  <tr>
						  <td scope="row" class="col-sm-4">Feb</td>
						  <td>
                              <div class="container">
                                  <input type="number" class="form-control" name="february">
                              </div>
                          </td>
					  </tr>
					  <tr>
						  <td scope="row" class="col-sm-4">March</td>
						  <td>
                              <div class="container">
                                  <input type="number" class="form-control" name="march">
                              </div>
                          </td>
					  </tr>
				  </table>
			  </div>
			  <div class="container col-sm-3">
				  <table class="table">
					  <tr>
						  <td scope="row" class="col-sm-4">April</td>
						  <td>
                              <div class="container">
                                  <input type="number" class="form-control" name="april">
                              </div>
                          </td>
					  </tr>
					  <tr>
						  <td scope="row" class="col-sm-4">May</td>
						  <td>
                              <div class="container">
                                  <input type="number" class="form-control" name="may">
                              </div>
                          </td>
					  </tr>
					  <tr>
						  <td scope="row" class="col-sm-4">June</td>
						  <td>
                              <div class="container">
                                  <input type="number" class="form-control" name="june">
                              </div>
                          </td>
					  </tr>
				  </table>
			  </div>
			  <div class="container col-sm-3">
				  <table class="table">
					  <tr>
						  <td scope="row" class="col-sm-4">July</td>
						  <td>
                              <div class="container">
                                  <input type="number" class="form-control" name="july">
                              </div>
                          </td>
					  </tr>
					  <tr>
						  <td scope="row" class="col-sm-4">Aug</td>
						  <td>
                              <div class="container">
                                  <input type="number" class="form-control" name="aug">
                              </div>
                          </td>
					  </tr>
					  <tr>
						  <td scope="row" class="col-sm-4">Sep</td>
						  <td>
                              <div class="container">
                                  <input type="number" class="form-control" name="september">
                              </div>
                          </td>
					  </tr>
				  </table>
			  </div>
			  <div class="container col-sm-3">
				  <table class="table">
					  <tr>
						  <td scope="row" class="col-sm-4">Oct</td>
						  <td>
                              <div class="container">
                                  <input type="number" class="form-control" name="october">
                              </div>
                          </td>
					  </tr>
					  <tr>
						  <td scope="row" class="col-sm-4">Nov</td>
						  <td>
                              <div class="container">
                                  <input type="number" class="form-control" name="november">
                              </div>
                          </td>
					  </tr>
					  <tr>
						  <td scope="row" class="col-sm-4">Dec</td>
						  <td>
                              <div class="container">
                                  <input type="number" class="form-control" name="december">
                              </div>
                          </td>
					  </tr>
				  </table>
			  </div>
          </div>

          <!-- third table -->
          <div class="row" style="padding-top: 10px; background-color: white;">
			  <h4>Targeted-Volume Approach</h4>
			  <div class="row" style="background-color: white;">
	              <div class="container col-sm-8">
	                  <table class="table">
						  <tr>
	  						<td scope="row" class="col-sm-9"><strong>What is the ultimate target hedge ratio for the Targeted-Volume benchmark?</strong></td>
	  						<td>
	  							<div class="container">
	  								<input type="number" class="form-control" name="ultTargRatio">
	  							</div>
	  						</td>
	  					</tr>
	  					<tr>
	  						<td scope="row" class="col-sm-9"><strong>How may months before delivery would you start hedge transaction?</strong></td>
	  						<td>
	  							<div class="container">
	  								<input type="number" class="form-control" name="startMonths">
	  							</div>
	  						</td>
	  					</tr>
	  					<tr>
	  						<td scope="row" class="col-sm-9"><strong>How many months before delivery would you complete the last hedge transaction?</strong></td>
	  						<td>
	  							<div class="container">
	  								<input type="number" class="form-control" name="lastMonths">
	  							</div>
	  						</td>
	  					</tr>
	                  </table>
	              </div>
		  	  </div>
		  </div>

              <!-- fourth table -->
		  <div class="row" style="padding-top: 10px;">
			  <h4>Postulated Strategy</h4>
			  <div class="row">
				  <div class="container col-sm-6">
	                  <table class="table">
						  <tr>
	  						<td scope="row" class="col-sm-9"><strong>Maximum Permitted Overall Hedge Ratio</strong></td>
	  						<td>
	  							<div class="container">
	  								<input type="number" class="form-control" name="maxRatio">
	  							</div>
	  						</td>
	  					</tr>
	  					<tr>
	  						<td scope="row" class="col-sm-9"><strong>To Calculate volatility, look back how many days?</strong></td>
	  						<td>
	  							<div class="container">
	  								<input type="number" class="form-control" name="lookBackDays">
	  							</div>
	  						</td>
	  					</tr>
	                  </table>
	              </div>
				  <div class="container col-sm-6">
					  <table class="table">
	  					<tr>
	  						<td scope="row" class="col-sm-9"><strong>Gas year start Month</strong></td>
	  						<td>
	  							<div class="container">
	  								<input type="number" class="form-control" name="gasYearStart">
	  							</div>
	  						</td>
	  					</tr>
	                  </table>
				  </div>
		  	  </div>

			  <h5 id="subHeader">Programmatic Element</h5>

			  <div class="row">
	              <div class="container col-sm-6">
					  <!-- <h5 id="subHeader">Programmatic Element</h5> -->
	                  <table class="table">
						  <tr>
	  						<td scope="row" class="col-sm-9"><strong>Maximum Programmatic Accumulation</strong></td>
	  						<td>
	  							<div class="container">
	  								<input type="number" class="form-control" name="maxAccumulation">
	  							</div>
	  						</td>
	  					</tr>
	  					<tr>
	  						<td scope="row" class="col-sm-9"><strong>How many months before delivery would you start hedge transctions?</strong></td>
	  						<td>
	  							<div class="container">
	  								<input type="number" class="form-control" name="progStartMonths">
	  							</div>
	  						</td>
	  					</tr>
	                  </table>
	              </div>

	              <div class="container col-sm-6">
					    <!-- <h5 id="subHeader" style="color: #f4f7f6">Programmatic Element</h5> -->
						<table class="table">
						  <tr>
							  <td scope="row" class="col-sm-9"><strong>How many months before delivery would you complete the last Programmatic Hedge?</strong></td>
							  <td>
								  <div class="container">
									  <input type="number" class="form-control" name="progLastMonths">
								  </div>
							  </td>
						  </tr>
						  <tr>
							  <td scope="row" class="col-sm-9"><strong>Implied Monthly Hedge Rate</strong></td>
							  <td>
								  <div class="container">
									  <input type="number" class="form-control" name="hedgeRate">
								  </div>
							  </td>
						  </tr>
					  	</table>
				  </div>
	          </div>

			  <h5 id="subHeader">Defensive Element</h5>

			  <div class="row">
				  <div class="container col-sm-6">
	                  <h5>Value at Risk Parameters</h5>
	                  <table class="table">
						  <tr>
	  						<td scope="row" class="col-sm-9"><strong>Holding Period</strong></td>
	  						<td>
	  							<div class="container">
	  								<input type="number" class="form-control" name="holdingPer">
	  							</div>
	  						</td>
	  					</tr>
	  					<tr>
	  						<td scope="row" class="col-sm-9"><strong>Statistical Confidence</strong></td>
	  						<td>
	  							<div class="container">
	  								<input type="number" class="form-control" name="statConf">
	  							</div>
	  						</td>
	  					</tr>
	                  </table>
	              </div>

	              <div class="container col-sm-6">
					    <h5>Hedge Management Horizon</h5>
						<table class="table">
						  <tr>
							  <td scope="row" class="col-sm-9"><strong>Remaining Gas Year(Year 0) Always Nearest</strong></td>
							  <td>
								  <div class="container">
									  <input type="checkbox" class="form-control" name="remainingGas">
								  </div>
							  </td>
						  </tr>
						  <tr>
							  <td scope="row" class="col-sm-9"><strong>First Full Gas Year(Year 1)</strong></td>
							  <td>
								  <div class="container">
									  <input type="checkbox" class="form-control" name="firstFullGas">
								  </div>
							  </td>
						  </tr>
						  <tr>
							  <td scope="row" class="col-sm-9"><strong>Second Full Gas Year(Year 2) Always Farthest</strong></td>
							  <td>
								  <div class="container">
									  <input type="checkbox" class="form-control" name="secondFullGas">
								  </div>
							  </td>
						  </tr>
					  	</table>
				  </div>
			  </div>

			  <div class="row">
				  <div class="container col-sm-7">
					  <h5>Tiered Action Boundaries</h5>
					  <table class="table">
						<thead>
							<tr>
								<td></td>
								<td>Boundary 1</td>
								<td>Boundary 2</td>
								<td>Boundary 3</td>
							</tr>
						</thead>
						<tbody>
						  <tr>
							<td scope="row" class="col-sm-3"><strong>Remaining Gas Year</strong></td>
							<td>
								<div class="container">
									<input type="number" class="form-control" name="rB1">
								</div>
							</td>
							<td>
								<div class="container">
									<input type="number" class="form-control" name="rB2">
								</div>
							</td>
							<td>
								<div class="container">
									<input type="number" class="form-control" name="rB3">
								</div>
							</td>
						  </tr>
						  <tr>
							<td scope="row" class="col-sm-3"><strong>First Full Gas Year</strong></td>
							<td>
								<div class="container">
									<input type="number" class="form-control" name="fB1">
								</div>
							</td>
							<td>
								<div class="container">
									<input type="number" class="form-control" name="fB2">
								</div>
							</td>
							<td>
								<div class="container">
									<input type="number" class="form-control" name="fB3">
								</div>
							</td>
						  </tr>
						  <tr>
							<td scope="row" class="col-sm-3"><strong>Second Full Gas Year</strong></td>
							<td>
								<div class="container">
									<input type="number" class="form-control" name="sB1">
								</div>
							</td>
							<td>
								<div class="container">
									<input type="number" class="form-control" name="sB2">
								</div>
							</td>
							<td>
								<div class="container">
									<input type="number" class="form-control" name="sB3">
								</div>
							</td>
						  </tr>
						</tbody>
					  </table>
				  </div>

				  <div class="container col-sm-5" style="padding-top: 8%;">
					  <div class="container">
						  <div class="container col-sm-8">
							  <strong>In setting the Action Boundaries for each gas year, flex factor in proportion to risk evniroment</strong>
						  </div>
						  <div class="container col-sm-4">
						  	  <input type="number" class="form-control" name="flexFactor">
					  	  </div>
					  </div>
				  </div>
			  </div>

			  <h5 id="subHeader">Contingent Element</h5>

			  <div class="row">
	              <div class="container col-sm-6">
	                  <h5>Value at Risk Parameters</h5>
	                  <table class="table">
						<tr>
	  						<td scope="row" class="col-sm-9"><strong>Holding Period</strong></td>
	  						<td>
	  							<div class="container">
	  								<input type="number" class="form-control" name="contHoldingPer">
	  							</div>
	  						</td>
	  					</tr>
	  					<tr>
	  						<td scope="row" class="col-sm-9"><strong>Statistical Confidence</strong></td>
	  						<td>
	  							<div class="container">
	  								<input type="number" class="form-control" name="contStatConf">
	  							</div>
	  						</td>
	  					</tr>
						<tr>
	  						<td scope="row" class="col-sm-9"><strong>Mark to Market Horizon</strong></td>
	  						<td>
	  							<div class="container">
	  								<input type="number" class="form-control" name="markToMarket">
	  							</div>
	  						</td>
	  					</tr>
	                  </table>
	              </div>

	              <div class="container col-sm-6">
					    <h5>Contingent Responses</h5>
						<table class="table">
						  <tr>
							  <td scope="row" class="col-sm-9"><strong>Suspend Hedges At</strong></td>
							  <td>
								  <div class="container">
									  <input type="number" class="form-control" name="suspendAt">
								  </div>
							  </td>
						  </tr>
						  <tr>
							  <td scope="row" class="col-sm-9"><strong>Suspend Hedging For</strong></td>
							  <td>
								  <div class="container">
									  <input type="number" class="form-control" name="suspendFor">
								  </div>
							  </td>
						  </tr>
						  <tr>
							  <td scope="row" class="col-sm-9"><strong>Unwind Hedges At</strong></td>
							  <td>
								  <div class="container">
									  <input type="number" class="form-control" name="unwindAt">
								  </div>
							  </td>
						  </tr>
						  <tr>
							  <td scope="row" class="col-sm-9"><strong>Unwind Rate</strong></td>
							  <td>
								  <div class="container">
									  <input type="number" class="form-control" name="unwindRate">
								  </div>
							  </td>
						  </tr>
					  	</table>
				  </div>
	          </div>

          </div>

		  <div id="submitRow" class="row">
			  <div class="container col-sm-6">
				  <button id="simBtn" type="button" class="btn btn-primary">Run Simulation</button>
			  </div>
		  </div>
	  </form>

    <script src="/jquery/jquery-1.11.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/input.js"></script>
    <style>
        body {
            font-size: 11px;
        }

		#submitRow {
			padding-top: 2%;
			padding-bottom: 2%;
			padding-left: 46.5%;
			background-color: white;
		}

		#subHeader {
			margin-left: 3%;
			font-size: 16px;
		}

		.jumbotron {
			background-color: #254E58 !important;
			color: #fcfcfc;
			margin-top: -4%;
		}

        .row {
			padding: 1%;
			padding-left: 7%;
			padding-right: 7%;
            background-color: #f4f7f6;
        }

        p {
            color: white !important;
        }

		#black {
			padding-top: 5px;
			font-size: 14px;
            color: black !important;
			font-weight: normal;
        }

		li {
			font-size: 14px;
			font-weight: bold;
		}

        input {
            height: 25px !important;
        }

        .header {
            padding-bottom: 10px;
        }

        .table {
            margin-bottom: 5px !important;
        }

        thead {
            text-align: center;
        }
    </style>
  </body>
</html>
